h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 25px;
    padding: 10px 8px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #e0dfdc;
    background-color: #333;
    letter-spacing: .1em;
  }
  
  body {
      background-color: whitesmoke;
      background-repeat: no-repeat;
      background-position: center; 
      background-size: contain;
      background-size: auto auto;
     }
  
  .btn-lg:hover {
    color: black;
    border-color: #333;
  }
  
  .mainbutton {
    margin-top: 4px; 
    width: 180px; 
    color: #e0dfdc; 
    background-color: #333;
  }
  
  .konvbutton {
    margin-top: 4px; 
    width: 345px; 
    color: #e0dfdc; 
    background-color: #333;
  }
  
  .shahada{
    color: #e0dfdc; 
    background-color: #333;
    font-size: large;
    width: fit-content;
    padding: 10px;
    border-radius: 2px;
    border-color: #e0dfdc;
    border-style: solid;

  }